x-image-drop {
  display: block;
  padding: 40px;
  border: solid 1px;
  text-align: center;
  margin: auto;
}

x-image-drop.accepts-drag {
  border: dashed 1px;
  background: hsl(200, 50%, 80%);
}

img {
  vertical-align: top;
}

#cart {
  display: inline-block;
  vertical-align: top;
  padding: 50px;
  border: solid 1px;
  width: 400px;
}

#cart.accepts-drag {
  border: dashed 1px;
}

#tacos {
  display: inline-block;
  list-style: none;
  margin: 0;
}

#tacos li {
  padding: 0;
  margin: 4px 0;
}

#tacos x-taco {
  display: block;
  padding: 8px;
  background: hsl(200, 10%, 90%);
  border-radius: 4px;
}

